.title {
    font-size: 26;
    text-align: center;
    color: purple;
    font-weight: bold;
    margin-top: 10;
}

.input {
    font-size: 18;
    padding: 10;
    background-color: grey;
}

GridLayout {
    border-bottom-color: black;
    border-bottom-width: 1;
}
